.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: var(--ligth-black-blue);
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (min-width: 320px) and (max-width: 720px) {
  .App-header {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}
